.form {
    display: flex;
    padding: 30px;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 .5em 0 0 hsla(249, 10%, 26%, 0.205);

    &__input-wrap {
        position: relative;

        @media screen and (min-width: 1440px) {
            margin-top: 15px;
        }
    }

    &__input {
        margin-top: 10px;
        padding: 12px;
        width: 100%;
        font-family: $font-family-default;
        font-size: 1.1rem;
        outline: none;
        border: 1px solid $color-neutral-grayish-blue;
        border-radius: 5px;

        &:focus {
            border: 1px solid $color-neutral-dark-blue;
        }

        &--btn {
            margin: 10px 0 15px 0;
            text-transform: uppercase;
            background-color: $color-primary-green;
            color: white;
            cursor: pointer;

            &:hover {
                background-color: lighten($color-primary-green, 10%);
            }
        }
    }

    &__input-icon {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-100%, calc(-50% + 10px / 2));
        visibility: hidden;
    }

    &__error {
        text-align: right;
        color: $color-primary-red;
        font-style: italic;
        font-size: .8em;
        visibility: hidden;

        &.incorrect {
            visibility: visible;
        }
    }

    &__paragraph {
        text-align: center;
        color: $color-neutral-dark-blue;
        font-size: .8em;
    }

    &__link {
        color: $color-primary-red;
        text-decoration: none;
    }
}

.correct {
    box-shadow: 0 0 5px 0 $color-primary-green;
}

.incorrect {
    & .form__input {
        box-shadow: 0 0 5px 0 $color-primary-red;
    }

    & .form__input-icon {
        visibility: visible;
    }
}