.intro {
    display: flex;
    flex-direction: column;
    padding: 80px 30px;
    min-height: 100vh;
    max-width: 1920px;
    background-image: url('../images/bg-intro-mobile.png');
    background-color: $color-primary-red;

    @media screen and (min-width: 1440px) {
        flex-direction: row;
        justify-content: space-evenly;
        background-image: url('../images/bg-intro-desktop.png');
    }

    &__info-wrap,
    &__form-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;

        @media screen and (min-width: 1440px) {
            margin-bottom: 0;
            flex-basis: 40%;
        }
    }

    &__title,
    &__paragraph {
        margin-bottom: 20px;
        text-align: center;

        @media screen and (min-width: 1440px) {
            text-align: left;
        }
    }

    &__title {
        @media screen and (min-width: 1440px) {
            font-size: 3rem;
            line-height: 3rem;
        }
    }

    &__info {
        display: block;
        margin-bottom: 20px;
        padding: 20px 50px;
        width: 100%;
        text-align: center;
        font-family: $font-family-default;
        color: white;
        outline: none;
        border-style: none;
        border-radius: 10px;
        background-color: $color-accent-blue;
        box-shadow: 0 .5em 0 0 hsla(249, 10%, 26%, 0.205)
    }
}